body {
  background: #F5F5F0;
  color: black;
  font-family: Monaco;
}

.list-movies-title {
  padding: 10px 0;
  background: #009B50;
  color: white;
  text-align: center;
  font-size: 16pt;
}

.movie-grid {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 20px;

  display: grid;
  grid-template-columns: repeat(6, 1fr); /* genau 6 Spalten */
  gap: 20px;

  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.movie-grid li {
  background: #eee;
  padding: 20px;
  border-radius: 8px;
}

.movie {
  width: 140px;
  position: relative;
}

.movie-title,
.movie-year {
  font-size: 0.8em;
  text-align: center;
}

.movie-title {
  margin-top: 10px;
}

.movie-year {
  color: #999;
}

.movie-rating {
    position: absolute;
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);
  background: #ffcc00;
  color: #000;
  font-size: 0.85em;
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 6px;
  margin: 8px auto 0;
  text-align: center;
  z-index: 2;
}

.movie-poster {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    width: 128px;
    height: 193px;
}


.tooltip {
  visibility: hidden;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.85);
  color: #fff;
  text-align: center;
  padding: 6px 10px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 100%; /* über dem Poster */
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 0.3s ease;
  font-size: 0.75em;
  max-width: 250px;
  white-space: normal;
}

.movie:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.movie a {
cursor: pointer;
}